.app-container{
  /* width: 90%; */
  /* height: 100vh;

  display: flex;
  flex-direction: column; */
  color: #ffffff;
}

/* .card{
  padding: 10px ;
  border-radius: 4px;
} */

.active{
  color: #ffffff;
}

.active-home{
  color: #625AFA;
}