*{
    font-family: 'Red rose', sans-serif;
}

/*Hearder*/
.nav-bar-content {
    display : flex;
    justify-content : space-between;
    align-items : center;
    max-width: 1341px;
    width: 100%;
}

.nav-bar{
    display : flex; 
    justify-content: center;
    align-items: center;
    padding: 29px 0;
}

.nav-bar-content .logo{
    width: 270px;
}

.nav-bar-content .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar-content .nav-links a{
    padding: 9.75px 14.46px 8.64px 14.46px;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}

.nav-DarkLight-buttons{
    display: flex;
    align-items: center;
    gap: 23px;
}

.login-button, .signUp-button{
    color: #FFF;
    font-family: 'Red rose', sans-serif;
    padding: 14.21px 24.3px 13.79px 23px;
}

.signUp-button{
    background-color: #4649E5;
    border-radius: 8px;
}

/* Hero content */

.heroContent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.title-subTile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title-subTile h1{
    font-size: 76px;
    line-height: 110%;
    letter-spacing: -1.96px;
    font-weight: 700;
    color: #FFF;
    max-width: 655px;
    text-align: center;
    width: 100%;
}

.title-subTile h1 span{
    color: #4649E5;
}

.title-subTile p{
    font-size: 24.8px;
    line-height: 150%;
    font-weight: 400;
    color: #FFF;
    max-width: 592px;
    text-align: center;
    width: 100%;
}

.hero-buttons{
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.hero-buttons .get-started, .hero-buttons .book-demo{
    padding: 18.3px 33.03px 18.87px 33.06px;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}

.hero-buttons .get-started{
    background-color: #4649E5;
    border-radius: 8px;
    border: 1px solid #232330;
}

.hero-buttons .book-demo{
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #232330;
    color: #4649E5;
}